<div class="column has-text-centered">
    <%= link_to "Projects ( #{active} )", projects_path, class: "button is-warning" %>
    <%= link_to "Overdue Projects ( #{overdue} )", overdue_projects_path, class: "button is-danger" %>
</div>
