<div class="default-block">
  <div class="inline-button">
    <%= link_to "Projects ( #{active} )", projects_path, class: "button is-warning" %>
  </div>
  <div class="inline-button">
    <%= link_to "Overdue Projects ( #{overdue} )", overdue_projects_path, class: "button is-danger" %>
  </div>
</div>
