<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Overdue projects
      </h1>
      <%= render partial: "projects_status_filter", locals:{overdue: @overdue, active: @active} %>
    </div>
  </div>
</section>
<div>
  <% if @projects.empty? %>
    <h4><%= "You don't have any late projects. Good job!" %></h4>
  <% else %>
  <section class="section">
    <div class="columns">
      <div class="column is-four-fifths">
        <div class="projects">
          <% @projects.each_with_index do |project, index|  %>
           <%= render partial: "project", locals: {project: project, index: index} %>
          <% end %>
        </div>

      </div>
      <div class="column ">
          <%= link_to "New Project",  new_project_path, class: "button is-primary"%>

      </div>



  </section>
  <% end %>
</div>
